# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.PhantasiaEngine.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Borjan Gjorovski\Projects\Coding\C#\PhantasiaEngine\.idea\.idea.PhantasiaEngine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
